*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: montserrat;
}
html , body{
    width: 100%;
    min-height: 100%;
    padding: 10px;
    overflow-x: hidden;
    background-image: linear-gradient(120deg,#e2c35d,#d88771);    
}
header , .input{
    display: flex;
    font-size: 50px;
    justify-content: center;
    padding: 10px;
    color: white;
}
.container{
    display: flex;    
    justify-content: center;
    padding: 10px;
    color: white;
}
.input{
    margin-top: 20px;         
}

.input input , button{
    border: none;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    outline: none;    
}
.input input{
    width:250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.input input:hover
{

}
.input button{
background-color: WHITE;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.input button:hover{
 background-color: grey;
 color: white;
}
.container
{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
}
.list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.list li{
    background-color: white;
    width: 300px;
    height: fit-content;
    font-size: 15px;
    /* border:1px solid black; */
    color: black;
    margin: 4px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center; 
        
}
.list li p{
    margin-left: 15px;
    word-break: break-word;
}

.list .element .edit,.Remove{
  background-color: white;
  border-radius: 10px;
  margin-top: 0%;
}
.list .element .edit:hover{
 background-color: #e2c35d;
 color: white;
}
.list .element .edit:active{
    background-color: green
}

@media (max-width:500px){
 header{
     font-size: 28px;
 }
}